<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="./home.component.css">
		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet">
 		<link href="https://fonts.googleapis.com/css?family=Indie+Flower|Raleway&display=swap" rel="stylesheet">
		<title></title>
	</head>
	<body>
    <app-navbar></app-navbar>
		<div class="intro">
			<div class="container">
				<div class="intro_inner">
						<h2 class="intro_subtitle">lorem lor</h2>
						<h1 class="intro_title">lorem lorem</h1>
						<h3 class="intro_subtitle2">loremr</h3>
						<a class="btn" [routerLink]='["/list"]'>Learn More</a>
				</div>
			</div>
		</div>
		<div class="otstup">
			<div class="polosa" id="polosa_id">
				<hr style="width: 1400px;margin:0 5%;">
			</div>
			<div class="kelesi">
					<h2 class="intro_kelesi">ability</h2>
			</div>

		</div>

		<div class="ability">
			<div class="ability_txt">
				<h2 class="what_kind_of_ability">MongoDB</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>
			<div class="ability_txt">
				<h2 class="what_kind_of_ability">Express</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>
			<div class="ability_txt">
				<h2 class="what_kind_of_ability">Node js</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>
			<div class="ability_txt">
				<h2 class="what_kind_of_ability">Angular</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>
		</div>
		<div height="10vh">
			<div class="polosa" id="polosa_id" >
				<hr style="width: 1400px;margin:0 5%;">
			</div>
		</div>
		<div class="proshanya">
			<img class="photo_thanks"src="assets/photo/photoHome/podpis.png" alt="">
			<h1>Good bye</h1>
		</div>
		<app-footer></app-footer>

	</body>
</html>
