<app-navbar></app-navbar>
<div class="aboutme">
  <div class="texttome">
    <h2>My name is Timur</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

    <a href="https://vk.com/timur_kazdayev" class="nav_link_vk"><h3 id="team_info_id2" >VK</h3></a>
    <a href="https://www.instagram.com/timurkazdayev/" class="nav_link_instagram"><h3 id="team_info_id3" >Inst</h3></a>
    <p>btw, on the right is PNG</p>
  </div>
  <div class="photome">
    <img class="photoimg" src="assets/photo/photoHome/tima.png" alt="">
  </div>
</div>
<app-footer></app-footer>
