<app-navbar></app-navbar>
<div class="list">
  <div class="ability_txt">
    <h2 class="what_kind_of_ability">MongoDB</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
  <div class="ability_txt">
    <h2 class="what_kind_of_ability">Express</h2>
    <app-post-create></app-post-create>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
</div>
<app-footer></app-footer>
